<% layout("/layouts/boilerplate")%>
  <body>
    <div class="row">
      <div class="col-8 offset-2">   <%# offset means giving page some space from left %>
    <h3>Edit your Listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">

      <div class="mb-1">
        <label for="title" class="form-label">Title</label>
        <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" />
      </div>
     
      <br /><br />
      <div class="mb-1">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" class="form-control"><%=listing.description%></textarea>
        
       
        
       
      </div>

      <br /><br />

     <div class="mb-1">
        <label for="image" class="form-label">Image Link</label>
        <input
        name="listing[image]"
        value="<%=listing.image%>"
        type="text"
        class="form-control"
      />
      </div>

      <br /><br />
      <div class="row">
      <div class="mb-1 col-md-4">
        <label for="price" class="form-label">Price</label>
        <input name="listing[price]" value="<%=listing.price%>" type="number" class="form-control" />
      </div>

      <br /><br />
       <div class="mb-1 col-md-8">
        <label for="country" class="form-label">Country</label>
        <input name="listing[country]"value="<%=listing.country%>" type="text" class="form-control" />
      </div>
    </div>
      <br /><br />
      <div class="mb-1"> 
        <label for="location" class="form-label">Location</label>
        <input
        name="listing[location]"
        value="<%=listing.location%>"
        type="text"
        class="form-control"
      />

      <br /><br />
      <button class="btn btn-dark edit-btn">Edit</button>
    </form>
    </div>
    </div>
  </body>

